h1{
    font-family: Impact;
}

img{
    width: 500px;
}

footer{
    position: absolute;
    top: 95%;
    left: 45%;
    color: white;
    font-size: 20px
}

main{
    margin-left: 32%;
    margin-top: 5%;
    width: 500px;
    background-color: rgb(219, 223, 226);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.486);
   
}

main h1{
    text-align: center;
    margin-top: 0;
}

table{
    margin: auto;
}

header{
    background-color: red;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

a{
    background-color: rgba(48, 46, 46, 0.726);
    margin: 3%;
    color: white;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

a:hover{
    background-color: rgba(245, 245, 245, 0.308);
   
}

body{
    background-image: linear-gradient(to right, rgb(151, 4, 4), rgba(12, 12, 14, 0.884));
    font-family: arial;
}

table#jogador{
   border-style: dotted; 
   width: 350px;
   height: 250px;

}

table#jogos{
    border-style: dotted; 
    width: 350px;
    height: 150px;
 
 }